*~
*.o
*.orig
\#*
*.nb
.DS_Store
**/.DS_Store
*.py
ana
avg
dumps2hdf5
ko
outavg
phiavg
phisli
regrid
thsli
*.session*
dumps*
analysis*
PROBLEMS/*/#*
PROBLEMS/*/*.dat
PROBLEMS/*/*.out
PROBLEMS/*/*.session*
__pycache__